@model SuperDuperPlannerWanner.Models.ViewModels.MealDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MealTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAmended)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAmended)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditMeal" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="ViewMeals">Back to List</a>
</div>


<h2>Choose Ingredients</h2>

<form asp-action="ChooseIngredients">
    <table class="table">
        <thead>
            <tr>
                @{Ingredient ingredient = Model[0];}
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].IngredientTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DateAmended)
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model[0].Selected)*@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ingredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IngredientTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAmended)
                    </td>
                    <td>
                        @*@Html.CheckBoxFor(modelItem => item.Selected)*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
